.main-wrapper {
    text-align: center;
    .title {
        display: inline-block;
        color: #4e4e4e;
        transform: rotate(-10deg);
        font-size: 4rem;
        font-family: monospace;
        margin-top: 6rem;
    }
}
